.header {
    display: flex;
    padding: 1rem;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

.header nav {
    padding: 1rem;
}

.button.is-primary.is-outlined {
    border-color: lightblue;
    color: lightblue;
}

.header nav a {
    margin: 0 .3rem;
}