.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 4rem;
}

.App-title {
    font-size: 1.5em;
}

.app-canvas {
    padding: 2rem;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    color: #336b87;
}